body {
  font-family: Arial, sans-serif;
  background-color: #f4f4f4;
  margin: 0;
  padding: 0;
}

.container {
  max-width: 600px;
  margin: 0 auto;
  padding: 20px;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 70vh;
}

h1 {
  font-size: 24px;
  font-weight: bold;
  margin-top: 0;
}

h2 {
  font-size: 20px;
  font-weight: bold;
}

input[type="text"] {
  width: 200px;
  padding: 10px;
  margin-right: 10px;
}

button {
  padding: 10px 20px;
  background-color: #36d7b7;
  color: #fff;
  border: none;
  outline: none;
  cursor: pointer;
  margin: 0 0 10px 0;
}

button:disabled {
  background-color: #ccc;
  cursor: not-allowed;
}

form {
  margin-bottom: 20px;
}

p {
  margin-top: 0;
  margin-bottom: 10px;
}

.message {
  color: red;
  font-weight: bold;
}

.hint {
  margin-bottom: 10px;
}

.winner-message {
  color: green;
  font-weight: bold;
}

.spinner-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
}
.page-container {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 100vh;
}

.home-container {
  text-align: center;
  padding: 20px;
  background-color: #f9f9f9;
  border: 1px solid #ccc;
  border-radius: 5px;
  box-shadow: 0px 2px 4px rgba(0, 0, 0, 0.1);
}
.custom-link {
  color: #3498db;
  text-decoration: none;
  transition: color 0.3s ease-in-out;
}
a:focus {
  outline: none;
}
